* {
  font-size: 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body, main {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
}

body {
  padding: 1rem;
}

main {
  border: black solid 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f8fe;
  padding: 1rem;
  margin-bottom: 3rem;
}

h1, p {
  font-size: 1.5rem;
}

button {
  all: unset;
  background-color: #2B71F4;
  color: white;
  padding: 0.8rem;
  border-radius: 0.4rem;
}

blockquote {
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 0.5rem;
  padding: 1rem;
  color: beige;
  text-shadow: black 2px 2px;
}

p {
  text-align: center;
}

i {
  font-size: 2rem;
}

.right {
  position: absolute;
  right: 1rem;
}

footer {
  margin-top: 5rem;
  text-align: right;
}